.App {
  font-family: 'Arial';
  font-weight: lighter;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.App::after {
  content: "";
  background: url('./bg.png');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.title {
  text-align: center;
  color: #452e76;
  font-size: 50px;
  font-weight: lighter;
}
