.employeeContainer {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .employeeContainer {
    justify-content: center;
  }
}
